body {
  font-family: Avenir;
}

h1 {
  color: #283c63;
  font-size: 48px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-transform: capitalize;
  color: #f85f73;
  margin: 0;
  padding: 0;
}

.app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.vanilla-weather-app {
  padding: 20px;
  border: 2px solid #283c63;
  border-radius: 10px;
}

.weather-temperature img {
  height: 80px;
  width: 80px;
}

.weather-temperature strong {
  font-size: 30px;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -10px;
}
